### Gradle ###
.gradle/
**/build/

### IntelliJ ###
.idea/
*.iml

### OS ###
.DS_Store
Thumbs.db

### Logs ###
**/*.log

### Spring ###
**/out/

### infra - mongo ###
./infra/mongo/config/
./infra/mongo/data/

### infra - postgres ###
./infra/postgres/data/

### infra - redis ###
./infra/redis/data/